.yallow {
    background-color: yellow;
    width: 50px;
    height: 48px;
    display: inline-block;
    border: #000000bf inset; 
    

}
.green {
    background-color:green;
    width: 50px;
    height: 48px;
    display: inline-block;
    border: #000000bf inset; 
    position: relative;
    top: 25px;
    
}
.parant {
    margin-left: 78px;
    margin-top: 50px;
}
.odd {
    background-color:red;
    width: 66px;
    height: 30px;
    display: inline-block;
    border: #000000bf inset; 
    text-align: center;
}
.odd:nth-child(odd){
display: none;
}